body {
  background-color: #dadada;
  display: block;
  font-size: 10px;
}

@media screen and (min-width: 575px) {
  body {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 575px) {
  .container {
    width: 74%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  .container {
    width: 84%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.cover {
  object-fit: cover;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10%;
  position: absolute;
}

@media screen and (min-width: 575px) {
  h1 {
    padding: 3%;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 2.3em;
    padding: 1.5%;
  }
}

img {
  height: 250px;
  width: 100%;
}

@media screen and (min-width: 575px) {
  img {
    height: 150px;
    width: 250px;
    margin: 1%;
  }
}

@media screen and (min-width: 991px) {
  img {
    height: 200px;
    width: 175px;
    margin: 1%;
  }
}

.preview {
  margin-top: 15px;
}

@media screen and (min-width: 575px) {
  .preview {
    display: inline-block;
    margin: 1%;
  }
}

.title {
  font-family: verdana;
  font-weight: 450;
  margin-top: 10px;
  padding: 5%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 991px){
  .title {
    padding: 2%;
  }
}
